body {
    font-family: 'Sree Krushnadevaraya', serif;
   
}
.jumbotron { 
    /* The image used */
    background-image: url("../images/jumbotronimage.png");
    height: 75%; 
    border: 5px dotted black;
    padding-top: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Berkshire Swash', cursive;
    
}

#well-goals,
#well-inprogress,
#well-completed {
    text-align: center;
    margin: auto;
    
}
h1 {
    color: limegreen;
    text-align: center;
    margin-top:3%;
    margin-bottom:1%;
}
.nav {
    margin-top: 3%;
    margin-bottom: 1%;
}
h2 {
    text-align: center;
    font-family: 'Sree Krushnadevaraya', serif;
    font-size: 1.5em;
}
.title {
    text-align: center;
    font-family: 'Sree Krushnadevaraya', serif;
    background-color: lightgrey;
    border-bottom: 2px solid lightblue;
    border-top: 2px solid lightblue;
    padding-top: 1%;
    padding-bottom: 2%;
    font-weight: bold;
    font-size: 2em;
}
h3 {
    text-align: center;
    font-family: 'Sree Krushnadevaraya', serif;
    font-size: 1em;
}
.nav-link {
   color: green;
}
ul{
    text-align:center;
};
.display-4 {
    /* font-size: 3.5rem; */
    font-weight: 300;
    line-height: 1.2;
}
@media (max-width: 450px) {  
    h1.display-4 {font-size:0.8rem!important;} /*1rem = 16px*/
}
   /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
   @media (min-width: 768px) {  
    h1.display-4 {font-size:3.5rem!important;} /*1rem = 16px*/
   }
   
   /* Large devices (desktops, 992px and up) */
   @media (min-width: 992px) { 
    h1.display-4 {font-size:3.5rem!important;} /*1rem = 16px*/
   }
   
   /* Extra large devices (large desktops, 1200px and up) */
   @media (min-width: 1200px) {  
    h1.display-4 {font-size:4rem!important;} /*1rem = 16px*/    
};
